@import '../assets/styles/variables.scss';

// Botones

.botones{
  justify-content: center;
  display: flex;

  .boton{
    color: $stButtonColor;
    height: $stButtonHeight;
    width: $stButtonWidth;
    border: $stButtonBorder;
    cursor: $stButtonCursor;
    text-transform: $stButtonTextTransform;
    font-family: $stButtonFontFamily;
    font-weight: $stButtonWeight;
    font-style: $stButtonStyle;
    font-size: $stButtonSize;
    line-height: $stButtonLineHeight;
    letter-spacing: $stButtonLetterSpacing;
    left: $stButtonLeft;
    right: $stButtonRight;
    top: $stButtonTop;
    bottom: $stButtonBottom;
    background: $stButtonBg;
    border-radius: $stButtonBorderRadius;

    @include phone{
      height: $stButtonHeightPhone;
      width: $stButtonWidthPhone;
      border: $stButtonBorderPhone;
      font-size: $stButtonSizePhone;
      line-height: $stButtonLineHeightPhone;
    }
  }

  .boton:hover{
    background: $stButtonBgHover;
  }

  .active{
    background: $stButtonBgActive;
  }
  .active:hover{
    background: $stButtonBgActive;
  }

  .boton__student{
    margin-right: 5%;
  }
}

// Personajes

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .vivo{
    background-color: #FFFFFF;
  }

  .muerto{
    background-color: #d5d5d5;
  }

  .card{
    display: flex;
    overflow: hidden;
    border-radius: $cardBorderRadius;
    margin: $cardMargin;
    width: $cardWidth;
    height: $cardHeight;
    color: $cardColor;

    .card__izq{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #212121 0%, #b4b2b2 100%);
      width: $cardWidthLeft;

      img{
        width: $cardImgWidthLeft;
        height: $cardImgHeightLeft;
        border-radius: $cardImgBorderRadiusLeft;
        @include phone{
          margin: 10px 0;
          width: 70px;
          height: 70px;
        }
      }
      @include phone{
        width: 140px;
      }
    }

    .gryffindor{
      background: $Gryffindor;
    }

    .slytherin{
      background: $Slytherin;
    }

    .hufflepuff{
      background: $Hufflepuff;
    }

    .ravenclaw{
      background: $Ravenclaw;
    }

    .card__der{
      width: $cardWidthRight;
      margin: $cardMarginRight;

      .card__der__status{
        display: flex !important;
        justify-content: space-between;
        text-transform: uppercase;
        margin-top: $cardMarginTopStatusRight;
        font-family: $cardMarginTopStatusFontFamilyRight;
        font-style: $cardMarginTopStatusFontStyleRight;
        font-weight: $cardMarginTopStatusFontWeightRight;
        font-size: $cardMarginTopStatusFontSizeRight;
        line-height: $cardMarginTopStatusLineHeightRight;
        color: $cardMarginTopStatusColorRight;

        .card__der__status__icon{
          margin-right: $cardIconMarginLeftRight;
          font-size: $cardIconFontSizeRight;
          cursor: $cardIconCursorRight;
          @include phone{
            font-size: 20px;
            margin: 0 0 0 0;
          }
        }

        @include phone{
          width: 110%;
          margin-top: 10px;
          display: inline-flex;
          font-size: 11px;
        }
      }

      .card__der__nombre{
        margin-top: $cardNameTopRight;
        font-family: $cardNameFontFamilyRight;
        font-style: $cardNameFontStyleRight;
        font-weight: $cardNameFontWeightRight;
        font-size: $cardNameFontSizeRight;
        line-height: $cardNameLineHeightRight;
        color: $cardNameColorRight;
        @include phone{
          margin-top: 20px;
          font-size: 18px;
          text-align: center;
          line-height: 18px;
        }
      }

      .card__der__info{
        margin-top:$cardInfoMarginTopRight;
        font-family:$cardInfoFontFamilyRight;
        font-style:$cardInfoFontStyleRight;
        font-weight:$cardInfoFontWeightRight;
        font-size:$cardInfoFontSizeRight;
        line-height:$cardInfoLineHeightRight;
        display: grid;
        @include phone{
          display: none;
        }

        .card__der__info__datos{
          font-weight:$cardInfoDatosFontWeightRight;
        }
      }

      @include phone{
        width: 80%;
        margin: 0 0 0 10px;
      }
    }

    @include phone{
      flex-direction: column;
      width: 130px;
      height: 200px;
      margin: 10px;
    }
  }
}

