@import '../assets/styles/variables.scss';

// Botones
.addFavButton{
  position: $addFavButtonPosition;
  top: 0;
  right: 20%;

  .addFavButton__AddFav{
    background-color: $addFavButtonBgColor;
    border-style: $addFavButtonBorderStyle;
    width: $addFavButtonWidth;
    cursor: $addFavButtonCursor;
    text-transform: $addFavButtonTextTransform;
    font-family: $addFavButtonFont;
    font-weight: $addFavButtonWeight;
    font-style: $addFavButtonStyle;
    line-height: $addFavButtonLineHeight;
    text-align: $addFavButtonAlign;
    color: $addFavButtonColor;
  }

  .addFavButton__Fav{
    border-bottom-left-radius: $addFavButtonBorderRadius;
    border-right: $favBorderRight;
    @include phone{
      border-top-left-radius: $addFavButtonBorderRadius;
      border-bottom-left-radius: 0;
    }
  }

  .addFavButton__Add{
    border-bottom-right-radius: $addFavButtonBorderRadius;
    border-left: $addBorderLeft;
    @include phone{
      border-top-right-radius: $addFavButtonBorderRadius;
      border-bottom-right-radius: 0;
    }
  }

  .addFavButton__Icon{
    position: absolute;
    top: 7px;
    margin-left: 5px;
    width: 16px;
  }

  @include phone{
    position: $addFavButtonPosition;
    top: 97%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
}

// Encabezado

.titulo{
  margin-top: 5%;

  .titulo__img{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include phone{
      width: 30%;
    }
  }

  .titulo__Titulo{
    font-family: $fontFamilyDesktop;
    font-weight: $fontWeightWeightDesktop;
    font-style: $fontStyleDesktop;
    font-size: $fontSizeTitleDesktop;
    line-height: $fontLineHeightDesktop;
    text-align: $fontAlignDesktop;
    @include phone{
      font-family: $fontFamilyPhone;
      font-weight: $fontWeightWeightPhone;
      font-style: $fontStylePhone;
      font-size: $fontSizeTitlePhone;
      line-height: $fontLineHeightPhone;
      text-align: $fontAlignPhone;
    }
  }
}



