
$bgColor: #000;
$textColor: #fff;

// Botones

// Botones agregar y favoritos
$addFavButtonPosition: fixed;
$addFavButtonBgColor: #6B63B5;
$addFavButtonBorderRadius: 10px;
$addFavButtonFont: 'Open Sans';
$addFavButtonWeight: 600;
$addFavButtonStyle: normal;
$addFavButtonTextTransform: uppercase;
$addFavButtonCursor: pointer;
$addFavButtonLineHeight: 25px;
$addFavButtonWidth: 140px;
$addFavButtonAlign: center;
$addFavButtonBorderStyle: none;
$addFavButtonColor: #FFFFFF;

  // Boton favorito
$favBorderRight: 1px solid #000;

  // Boton agregar
$addBorderLeft: 1px solid #000;

    // Modal agregar
$modalBgColor: rgba(0, 0, 0, 0.4);

      // Modal agregar contenido
$modalBgContentColor: #fefefe;
$modalContentBorder: 1px solid #888;
$modalContentBorderRadius: 10px;

      // Modal agregar contenido titulo
$modalContentTitleFontFamily: 'Open Sans';
$modalContentTitleFontWeight: 600;
$modalContentTitleFontStyle: normal;
$modalContentTitleFontSize: 24px;
$modalContentTitleLineHeight: 40px;
$modalContentTitleColor: #000000;

      // Modal agregar contenido inputs
$modalContentInputsFontFamily: 'Open Sans';
$modalContentInputsFontWeight: 400;
$modalContentInputsFontStyle: normal;
$modalContentInputsFontSize: 14px;
$modalContentInputsLineHeight: 32px;
$modalContentInputsLetterSpacing: 0.01em;
$modalContentInputsColor: #263238;

        // Modal agregar contenido inputs input
$modalContentInputsInputFontFamily: 'Open Sans';
$modalContentInputsInputFontWeight: 400;
$modalContentInputsInputFontStyle: normal;
$modalContentInputsInputFontSize: 20px;
$modalContentInputsInputHeight: 50px;
$modalContentInputsInputWidth: 100%;
$modalContentInputsInputBg: #F2F3F3;
$modalContentInputsInputBorder: none;
$modalContentInputsInputBorderBottom: 2px solid #233238;
$modalContentInputsInputBorderRadius: 5.33333px 5.33333px 0 0;

      // Modal agregar contenido radio
$modalContentRadioFontFamily: 'Open Sans';
$modalContentRadioFontWeight: 400;
$modalContentRadioFontStyle: normal;
$modalContentRadioFontSize: 14px;
$modalContentRadioLineHeight: 32px;
$modalContentRadioLetterSpacing: 0.01em;
$modalContentRadioColor: #263238;
$modalContentRadioWidth: 45%;

      // Modal agregar contenido radio genero
$modalContentRadioGenderFontFamily: 'Open Sans';
$modalContentRadioGenderFontStyle: normal;
$modalContentRadioGenderFontSize: 16px;
$modalContentRadioGenderLineHeight: 24px;
$modalContentRadioGenderLetterSpacing: 0.01em;
$modalContentRadioGenderColor: #000000;

      // Modal agregar contenido radio posición
$modalContentRadioPositionFontFamily: 'Open Sans';
$modalContentRadioPositionFontStyle: normal;
$modalContentRadioPositionFontSize: 16px;
$modalContentRadioPositionLineHeight: 24px;
$modalContentRadioPositionLetterSpacing: 0.01em;
$modalContentRadioPositionColor: #000000;

      // Modal agregar contenido boton
$modalContentBotonFontFamily: 'Open Sans';
$modalContentBotonFontWieght: 600;
$modalContentBotonFontStyle: normal;
$modalContentBotonFontSize: 17px;
$modalContentBotonLineHeight: 25px;
$modalContentBotonLetterSpacing: 0.2em;
$modalContentBotonColor: #FFFFFF;
$modalContentBotonBg: rgba(0, 0, 0, 0.6);
$modalContentBotonBorder: 4px solid #6B63B5;
$modalContentBotonBoxSizing: border-box;
$modalContentBotonBorderRadius: 4px;
$modalContentBotonWidth: 288px;
$modalContentBotonHeight: 67px;



// Boton estudiantes-staff
$stButtonColor: white;
$stButtonHeight: 67px;
$stButtonWidth: 288px;
$stButtonBorder: 2px solid #6B63B5;
$stButtonCursor: pointer;
$stButtonTextTransform: uppercase;
$stButtonFontFamily: 'Open Sans';
$stButtonWeight: 600;
$stButtonStyle: normal;
$stButtonSize: 17px;
$stButtonLineHeight: 25px;
$stButtonLetterSpacing: 0.2em;
$stButtonLeft: 0;
$stButtonRight: 0;
$stButtonTop: 0;
$stButtonBottom: 0;
$stButtonBg: rgba(0, 0, 0, 0.6);
$stButtonBgHover: rgba(107, 99, 181, 0.6);
$stButtonBgActive: #6B63B5;
$stButtonBorderRadius: 4px;

  // Boton estudiantes-staff phone
$stButtonHeightPhone: 42.93px;
$stButtonWidthPhone: 140px;
$stButtonBorderPhone: 4px solid #6B63B5;
$stButtonSizePhone: 13px;
$stButtonLineHeightPhone: 16px;

// Boton favoritos
$favButtonFontFamily: 'Open Sans';
$favButtonFontStyle: normal;
$favButtonFontWeight: 600;
$favButtonFontSize: 18px;
$favButtonLineHeight: 25px;
$favButtonColor: #FFFFFF;

// Fuentes

// Fuentes titulo desktop
$fontFamilyDesktop: 'Open Sans';
$fontWeightWeightDesktop: 700;
$fontStyleDesktop: normal;
$fontSizeTitleDesktop: 36px;
$fontLineHeightDesktop: 25px;
$fontAlignDesktop: center;

  // Fuentes titulo phone
$fontFamilyPhone: 'Open Sans';
$fontWeightWeightPhone: 700;
$fontStylePhone: normal;
$fontSizeTitlePhone: 18px;
$fontLineHeightPhone: 25px;
$fontAlignPhone: center;

// Tarjetas
$cardBgColor: #fff;
$cardBorderRadius: 16px;
$cardMargin: 3.5rem;
$cardWidth: 515px;
$cardHeight: 265px;
$cardColor: #000;

  // Tarjeta lado izquierdo
$cardWidthLeft: 210px;
$cardImgWidthLeft: 120px;
$cardImgHeightLeft: 120px;
$cardImgBorderRadiusLeft: 50%;
$Gryffindor: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
$Slytherin: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$Hufflepuff: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
$Ravenclaw: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);

  // Tarjeta lado derecho
$cardWidthRight: 55%;
$cardMarginRight: 10px 0 0 20px;
$cardMarginTopStatusRight: 10px;
$cardMarginTopStatusFontFamilyRight: 'Open Sans';
$cardMarginTopStatusFontStyleRight: normal;
$cardMarginTopStatusFontWeightRight: 600;
$cardMarginTopStatusFontSizeRight: 14px;
$cardMarginTopStatusLineHeightRight: 19px;
$cardMarginTopStatusColorRight: #999999;

    //Tajeta lado derecho icono
$cardIconMarginLeftRight: 10px;
$cardIconFontSizeRight: 20px;
$cardIconCursorRight: pointer;

    // Tarjeta lado derecho nombre
$cardNameTopRight: 10px;
$cardNameFontFamilyRight: 'Open Sans';
$cardNameFontStyleRight: nomral;
$cardNameFontWeightRight: 600;
$cardNameFontSizeRight: 30px;
$cardNameLineHeightRight: 46px;
$cardNameColorRight: #081F32;

    // Tarjeta lado derecho info
$cardInfoMarginTopRight: 10px;
$cardInfoFontFamilyRight: 'Open Sans';
$cardInfoFontStyleRight: normal;
$cardInfoFontWeightRight: bold;
$cardInfoFontSizeRight: 14px;
$cardInfoLineHeightRight: 27px;

      // Tarjeta lado derecho datos
$cardInfoDatosFontWeightRight: normal;


    // Responsive
@mixin phone {
  @media only screen and (max-width: 700px){
    @content
  }
}

  // Fuentes ______