
$bgColor: #000;
$textColor: #fff;

// Botones

// Botones agregar y favoritos
$addFavButtonPosition: fixed;
$addFavButtonBgColor: #6B63B5;
$addFavButtonBorderRadius: 10px;
$addFavButtonFont: 'Open Sans';
$addFavButtonWeight: 600;
$addFavButtonStyle: normal;
$addFavButtonTextTransform: uppercase;
$addFavButtonCursor: pointer;
$addFavButtonLineHeight: 25px;
$addFavButtonWidth: 140px;
$addFavButtonAlign: center;
$addFavButtonBorderStyle: none;
$addFavButtonColor: #FFFFFF;

  // Boton favorito
$favBorderRight: 1px solid #000;

  // Boton agregar
$addBorderLeft: 1px solid #000;

// Boton estudiantes-staff
$stButtonColor: white;
$stButtonHeight: 67px;
$stButtonWidth: 288px;
$stButtonBorder: 2px solid #6B63B5;
$stButtonCursor: pointer;
$stButtonTextTransform: uppercase;
$stButtonFontFamily: 'Open Sans';
$stButtonWeight: 600;
$stButtonStyle: normal;
$stButtonSize: 17px;
$stButtonLineHeight: 25px;
$stButtonLetterSpacing: 0.2em;
$stButtonLeft: 0;
$stButtonRight: 0;
$stButtonTop: 0;
$stButtonBottom: 0;
$stButtonBg: rgba(0, 0, 0, 0.6);
$stButtonBgHover: rgba(107, 99, 181, 0.6);
$stButtonBgActive: #6B63B5;
$stButtonBorderRadius: 4px;

  // Boton estudiantes-staff phone
$stButtonHeightPhone: 42.93px;
$stButtonWidthPhone: 140px;
$stButtonBorderPhone: 4px solid #6B63B5;
$stButtonSizePhone: 13px;
$stButtonLineHeightPhone: 16px;


// Fuentes

// Fuentes titulo desktop
$fontFamilyDesktop: 'Open Sans';
$fontWeightWeightDesktop: 700;
$fontStyleDesktop: normal;
$fontSizeTitleDesktop: 36px;
$fontLineHeightDesktop: 25px;
$fontAlignDesktop: center;

  // Fuentes titulo phone
$fontFamilyPhone: 'Open Sans';
$fontWeightWeightPhone: 700;
$fontStylePhone: normal;
$fontSizeTitlePhone: 18px;
$fontLineHeightPhone: 25px;
$fontAlignPhone: center;

// Tarjetas
$cardBgColor: #fff;
$cardBorderRadius: 16px;
$cardMargin: 3.5rem;
$cardWidth: 515px;
$cardHeight: 265px;
$cardColor: #000;

  // Tarjeta lado izquierdo
$cardWidthLeft: 210px;
$cardImgWidthLeft: 120px;
$cardImgHeightLeft: 120px;
$cardImgBorderRadiusLeft: 50%;
$Gryffindor: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
$Slytherin: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
$Hufflepuff: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
$Ravenclaw: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);

  // Tarjeta lado derecho
$cardWidthRight: 55%;
$cardMarginRight: 10px 0 0 20px;
$cardMarginTopStatusRight: 10px;
$cardMarginTopStatusFontFamilyRight: 'Open Sans';
$cardMarginTopStatusFontStyleRight: normal;
$cardMarginTopStatusFontWeightRight: 600;
$cardMarginTopStatusFontSizeRight: 14px;
$cardMarginTopStatusLineHeightRight: 19px;
$cardMarginTopStatusColorRight: #999999;

    //Tajeta lado derecho icono
$cardIconMarginLeftRight: 10px;
$cardIconFontSizeRight: 20px;
$cardIconCursorRight: pointer;

    // Tarjeta lado derecho nombre
$cardNameTopRight: 10px;
$cardNameFontFamilyRight: 'Open Sans';
$cardNameFontStyleRight: nomral;
$cardNameFontWeightRight: 600;
$cardNameFontSizeRight: 30px;
$cardNameLineHeightRight: 46px;
$cardNameColorRight: #081F32;

    // Tarjeta lado derecho info
$cardInfoMarginTopRight: 10px;
$cardInfoFontFamilyRight: 'Open Sans';
$cardInfoFontStyleRight: normal;
$cardInfoFontWeightRight: bold;
$cardInfoFontSizeRight: 14px;
$cardInfoLineHeightRight: 27px;

      // Tarjeta lado derecho datos
$cardInfoDatosFontWeightRight: normal;


    // Responsive
@mixin phone {
  @media only screen and (max-width: 700px){
    @content
  }
}

  // Fuentes ______